{% extends "base.html" %}
{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center" style="max-width: 800px; margin-top: 120px;">
<h5 class="text-center">Cambia password per: <br><br><strong>{{ user.username }}</strong> <br><br> ruolo: <strong>{{ user.ruolo.value }}</strong></h5><br><br>
<form method="post">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {% if current_user.id == user.id %}
        <input type="password" name="old_password" placeholder="Vecchia password" required autocomplete="current-password">
    {% endif %}
    <input type="password" name="new_password" placeholder="Nuova password" required autocomplete="new-password">
    <button type="submit" class="btn btn-primary">Aggiorna</button>
</form>
</div>
{% endblock %}